* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: 'Original Surfer', cursive;
}

.nav-container {
  background: #fffefe;
  height: 70px;
}

.wrapper {
  max-width: 1250px;
  margin: 0 auto;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 72px;
}

nav .logo {
  font-weight: bold;
  font-size: 30px;
  line-height: 52px;
  text-align: center;
  color: #000000;
  margin-left: 0px;
}
.clr {
  clear: both;
}
.fdiv {
  float: left;
  width: 35%;
  height: 613px;
  background: #ffd898;
  padding: 10px;
  box-sizing: border-box;
  position: relative;
}
.fdiv p {
  font-size: 25px;
  font-family: "Poppins", sans-serif;
  position: absolute;
  top: 170px;
  right: 30px;
  left: 49px;
}
.sdiv {
  float: right;
  width: 65%;
  height: 613px;
  background: #fff;
  padding: 10px;
  box-sizing: border-box;
  position: relative;
}
.sdiv h1 {
  text-align: center;
  
  font-size: x-large;

}
.form {
  text-align: center;
}
.my-form {
  padding: 10px;
  margin: auto;

  width: 50%;
}
.my-form div {
  margin-bottom: 30px;
}
.my-form label {
  display: inline-block;
  font-weight: 500;
  font-size: 20px;
  width: 330px;
  text-align: left;
  margin-bottom: 40px;
}
.my-form input {
  width: 330px;
  height: 26px;
  margin-bottom: 70px;
}
.sdiv a {
  color: #ffffff;
  background-color: #d4149b;
  padding: 5px;
  padding-left: 25px;
  padding-right: 25px;
  border-radius: 2px;
  font-size: 15px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
}
.rectangle {
  background: #000000;
  color: #ffffff;
  height: 90px;
}

navi {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 72px;
  color: #ffffff;
}
navi ul {
  display: flex;
}
.navi-items li {
  list-style: none;
  margin-right: 25px;
}
.navi-items li a {
  color: #ffffff;
  position: relative;
  font-weight: bold;
  text-align: center;
  left: 500px;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
}
.navi-items li a:hover {
  text-decoration: underline;
}
.rectangle p {
  position: relative;
  bottom: 10px;
  color: #ffffff;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  text-align: left;
  margin-left: 38px;
}
