* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

.nav-container {
  background: #ffffff;
  height: 70px;
}

.wrapper {
  max-width: 1270px;
  margin: 0 auto;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 72px;
}

nav ul {
  display: flex;
}
nav .logo {
  font-weight: bold;
  font-size: 30px;
  line-height: 52px;
  text-align: center;
  color: #000000;
  margin-left: 5.5px;
}
.nav-items li {
  list-style: none;
  margin-right: 25px;
}
.nav-items li a {
  color: #000000;
  font-weight: bold;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
}

.nav-items li a:hover {
  text-decoration: underline;
}
.header-container {
  position: relative;
  text-align: center;
}

.bottom {
  position: absolute;
  font-size: 33px;
  line-height: 67px;
  font-weight: bold;
  top: 10%;
  left: 29%;
  color: #ffffff;
}
.search-container {
  position: absolute;
  font-size: 35px;
  line-height: 67px;
  font-weight: bold;
  top: 35.3%;
  left: 27%;
  color: #ffffff;
}
form.search input {
  width: 480px;
  height: 30px;
}
form.search button {
  width: 85px;
  height: 30px;
  color: #ffffff;
  background-color: #006ff0;
  border: none;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  border-radius: 3px;
}

header {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
h2 {
  font-size: 20px;
  padding-left: 50px;
  margin-top: 25px;
}
label {
  font-size: 18px;
  font-weight: bold;
  vertical-align: middle;
  margin-left: 350px;
  margin-top: 25px;
  float: left;
}
hr {
  width: 92%;
  margin-left: 4%;
  margin-right: 15%;
  margin-top: 10px;
}
h4 {
  margin-top: 10px;
  margin-left: 60px;
}
.des {
  max-width: 700px;
  margin-top: 8px;
  margin-left: 60px;
}
.link {
  max-width: 700px;
  margin-top: 50px;
  margin-left: 60px;
}

.items {
  margin-right: 15%;
  margin-top: -75px;
  float: right;
}
.n-items li {
  padding: 2px 0px;
}
.n-items li {
  list-style: none;
}
.n-items li::before {
  content: "\2022";
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}
.n-items li:nth-child(1)::before {
  color: red;
}
.n-items li:nth-child(2)::before {
  color: #bdff00;
}
.n-items li:nth-child(3)::before {
  color: #0057ff;
}
.report {
  margin-left: 50px;
  margin-top: 20px;
}
.report a {
  margin-right: 100px;
  width: 90px;
  margin-left: -10px;
  margin-top: 10px;
  padding-top: 2.5px;
  padding-bottom: 2.5px;
  text-decoration: none;
  text-align: center;
  color: black;
  display: block;
  background-color: #c4c4c4;
}
.repbox {
  margin-left: 150px;
  width: 500px;
  height: 100px;
  margin-top: -15px;
}
.subm {
  margin-left: 400px;
  height: 30px;
  width: 70px;
  border-radius: 3px;
  color: white;
  background-color: #f08200;
  border-color: #f08200;
  box-shadow: #f08200;
}
.rectangle {
  margin-top: 70px;
  background: #000000;
  color: #ffffff;
  height: 90px;
}
navi {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 72px;
  color: #ffffff;
}
navi ul {
  display: flex;
}
.navi-items li {
  list-style: none;
  margin-right: 25px;
}
.navi-items li a {
  color: #ffffff;
  position: relative;
  font-weight: bold;
  text-align: center;
  left: 500px;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
}
.navi-items li a:hover {
  text-decoration: underline;
}
.rectangle p {
  position: relative;
  bottom: 10px;
  color: #ffffff;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  text-align: left;
  margin-left: 38px;
}
